name: Mini CI/CD Pipeline

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Ambil Kode
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Jalankan Test
      run: python test_app.py

    - name: Upload Laporan
      if: always()  # Tetap upload meski test gagal (agar bisa dicek)
      uses: actions/upload-artifact@v3
      with:
        name: laporan-pengujian
        path: test-report.txt
